# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\sping_study\springboot_custome_starter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
